<!--/* @thymesVar id="arguments" type="de.robiasto.app.infrastructure.fragment.grid.fragments.table.FragmentColHead" */-->
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
    <table>
        <thead>
            <tr>
                <!-- start::colHead -->
                <th
                    class="border-b border-gray-200 bg-gray-50 px-6 py-3 text-left text-xs font-medium uppercase leading-4 tracking-wider text-gray-500"
                    th:classappend="${arguments.isHideOnMobile() ? 'max-xl:hidden' : ''}"
                    th:data-col-name="${arguments.getName()}"
                    th:fragment="colHead(arguments)"
                >
                    <!-- start::colHead sorting link-->
                    <a
                        class="flex justify-start underline hover:text-gray-600 hover:text-gray-700 hover:decoration-2"
                        th:href="${@urlBuilder.cloneBuilder().fromCurrentRequestUri().query(arguments.getSortParams()).toUriString()}"
                        th:if="${arguments.isSortable()}"
                    >
                        <th:block
                            th:text="${arguments.getLabel() != '' ? #messages.msg(arguments.getLabel()) : ''}"
                        ></th:block>

                        <th:block th:if="${arguments.isActiveSorting()}">
                            <th:block th:if="${arguments.getSortingDirectionChosen() == 'ASC'}">
                                <svg
                                    class="size-4"
                                    fill="currentColor"
                                    viewBox="0 0 16 16"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        clip-rule="evenodd"
                                        d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
                                        fill-rule="evenodd"
                                    />
                                </svg>
                            </th:block>
                            <th:block th:if="${arguments.getSortingDirectionChosen() == 'DESC'}">
                                <svg
                                    class="size-4"
                                    fill="currentColor"
                                    viewBox="0 0 16 16"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        clip-rule="evenodd"
                                        d="M11.78 9.78a.75.75 0 0 1-1.06 0L8 7.06 5.28 9.78a.75.75 0 0 1-1.06-1.06l3.25-3.25a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06Z"
                                        fill-rule="evenodd"
                                    />
                                </svg>
                            </th:block>
                        </th:block>
                    </a>
                    <!-- end::colHead sorting link-->

                    <!-- start::colHead no sorting -->
                    <th:block
                        th:if="${!arguments.isSortable()}"
                        th:text="${arguments.getLabel() != '' ? #messages.msg(arguments.getLabel()) : ''}"
                    ></th:block>
                    <!-- end::colHead no sorting -->
                </th>
                <!-- end::colHead -->
            </tr>
        </thead>
    </table>
</html>
